.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}

.sideBySide {
  display: block;
  margin-left: 47px;
  margin-right: 13px;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}
.floatNone {
  display: inline-block;
  float: none;
  max-width: 480px;
}

#btnNewItem {
  border-radius: 50%;
  background-color: #fb6c6d;
  border-color: #fb6c6d;
}

#btnNewItem:focus {
  box-shadow: 0 0 0 0 #808080;
}